<div class="jumbotron my-background">
  <div class="container-fluid">
  </div>
</div>

<p class="notice" id="notice"><%= notice %></p>

<div class="container">

<%= link_to "Sort by Handle", :sort => "handle" %> | 
<%= link_to "Sort by Date", :sort => "updated_at" %>

<h1>Welcome to Twitter</h1>


    <% @tweets.each do |tweet| %>
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <div class="panel-title pull-left"><strong>@<%= link_to "#{tweet.handle}", tweet_path(tweet) %></strong></div>
		    <div class="panel-title pull-right"><%= tweet.updated_at.localtime.strftime('%d %b %Y at %l:%M:%S')%></div>
		  </div>
		  <div class="panel-body">
		    <%= tweet.content %>
		  </div>
		</div>
    <% end %>

</div>